# Starter pipeline
# Start with a minimal pipeline that you can cuustomize to build and deploy
# Add steps that build, ruin tests, deploy and more:
# https://aka.ms/yaml

trigger :
  - master
  
pool:
  vmImage: 'ubuntu-latest'
  
steps:
  - task: Prisma Cloud IaC Scan@3
    inputs:
      Path: '.'  # The .prismaCloud/conflig.yml sets the subdirectory
      prismaCloudService: 'prismacloud_iac_1'
      High: '0'
      Medium: '0'
      Low: '0'
      Operator: 'or'
      
